<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<div class="container" id="index-wrapper">
	<h3>Submission for <span style="color: blue;font-weight: lighter;">ttt</span> Software Engineer Intern</h3><br>
	<form method="POST" action="/submit">
	 <div class="form-group">
	    <label for="exampleInputEmail1">Enter N Value Buddy!</label>
	    <input type="text" name="hN" class="form-control" placeholder="Ahem N value Please" required>
  	</div>
  	<button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>