<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<div class="container" id="sorted-wrapper">
	<% if(N < keysSorted.length && N > 0){ %>
	<h3 id="lighter">The top <strong><%= N %></strong> occuring words are</h3><br>
	<table class="table">
	 <tr>
	 	<th>No</th>
	  	<th>Word</th>
	</tr>
	<% var count = 1; %>
<!--  ==================================================== -->
<!--  Looping Till the end of the sorted Array keysSorted  -->
<!--  ==================================================== -->
	<% for(var i = 1;count <= N;i++){ %>
	 <tr>
	 	<% if(keysSorted[i] == "" || (keysSorted[i].charCodeAt(0) > 122) || keysSorted[i].charCodeAt(0) < 97){ %>
		<% }else{ %>
		<td>
	 		<%= count++ %>
	 	</td>
	 	<td>
	 		<%= keysSorted[i] %>
	 	</td>
	 <%	} %>
	 </tr>
	<% } %>
<!-- ===================== -->
<!--  Ending of the loop   -->
<!-- ===================== -->

	</table><br><br>
	<h3 id="lighter"> That's the end! :-) </h3>
<!-- =============================================================== -->	
<!-- The End of N is greater then 0 and N is less than total Length  -->
<!-- =============================================================== -->
<% }else{ %>
<!--  ================================= -->
<!--  When An Invalid input is provided -->
<!--  ================================= -->
<div class="alert alert-danger" role="alert">
	<strong>Oh Snap</strong>,Change a few things up and try submitting again.<br>
	The reason for this error might be!
</div>
<ul class="list-group">
  <li class="list-group-item">An Invalid Input is Provided</li>
  <li class="list-group-item">No such occurences is available!</li>
</ul>

<% } %>
</div>
